{% extends "app/base_site.html" %}

{% block title %} Chart JS {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Chart Js <small>Some examples to get you started</small></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="green"><i class="fa fa-user"></i> Total Number of Meters</span>
        <div class="count">2500</div>
        <!--<span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
      </div>
    

        
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
    <!-- Chart.js -->
    <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
{% endblock javascripts %}