<!-- This is for the Energy Meter page where we have the options to delete existing meters.
  We show all the connected meters and then provide option to type the meter which has to be removed from the database.

  Work done so far -
  1.Form to fill the meter to be deleted.

  Work to be done - 
  1.Crete a table which shows the data of meter id, name and slave id of the meter 

-->


{% extends "app/base_site.html" %}

{% block title %} Form Advanced {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <!-- Ion.RangeSlider -->
  <!--<link href="/static/vendors/normalize-css/normalize.css" rel="stylesheet">
  <link href="/static/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
  <link href="/static/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">-->
  <!-- Bootstrap Colorpicker -->
  <link href="/static/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">

  <link href="/static/vendors/cropper/dist/cropper.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Delete Exisitng Meter</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">

                <!-- Adding table to show all the meters connected to the server-->

                <div class="clearfix"></div>

                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2>Connected Meters</h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Settings 1</a>
                              </li>
                              <li><a href="#">Settings 2</a>
                              </li>
                            </ul>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Meter name</th>
                              <th>Meter ID</th>
                              <!--<th>Last Name</th>
                              <th>Username</th>-->
                            </tr>
                          </thead>
                          <tbody>
                            {% for x in data %}
                              <tr>
                                <th scope="row">{{x.name}}</th>
                                <td>{{x.meter_id}}</td>
                                <!--<td>Otto</td>
                                <td>@mdo</td>-->
                              </tr>
                            {% endfor %}
                            <!--<tr>
                              <th scope="row">2</th>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                            </tr>-->
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div>


              <!-- The form which we are using for Delete existing connections -->
              <h2>Delete Connection</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form id="demo-form2" action="{% url 'delete-meter'  %}" method="post" data-parsley-validate class="form-horizontal form-label-left">
                {% csrf_token %}

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Meter ID">Meter ID <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    
                      <input type="text" name="meter_id" required class="form-control col-md-7 col-xs-12">
                      <input type="submit" value="Delete" />
                    
                  </div>
                </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Ion.RangeSlider -->
  <script src="/static/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
  <!-- Bootstrap Colorpicker -->
  <script src="/static/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
  <!-- jquery.inputmask -->
  <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
  <!-- jQuery Knob -->
  <script src="/static/vendors/jquery-knob/dist/jquery.knob.min.js"></script>
  <!-- Cropper -->
  <script src="/static/vendors/cropper/dist/cropper.min.js"></script>
{% endblock javascripts %}
